<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>

    <link rel="stylesheet" href="css/index.css">
    <script id="main-js" src="scripts/main.js" ejs-data='<%= data %>'></script>
</head>

<body>
    <% include ../partials/menus/pointing-menu %>
    <div class="body-container">
        
        <div id="app" class="ui divided items">
        </div>

    </div>
    <% include ../partials/footer %>
</body>

</html>