<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    
    <% include ../partials/menus/pointing-menu %>
    
    <% include ../partials/pagination/simple-pagination %> 

    <% include ../partials/bodies/simple-segment %>

    <% include ../partials/footer %>
</body>

</html>