<div class="ui secondary pointing menu">
    <a href="/" class="item">
        FileView
    </a>
    <a href="/reviews" class="item">
        Reviews
    </a>
    <a href="/events/upcoming" class="item">
        Upcoming Events
    </a>
    <a href="/events/archive" class="item">
        Past Events
    </a>
    <div class="right menu">
        <a href="/" class="ui item">
            Logout
        </a>
    </div>
</div>