<div class="ui four item menu">
    <a href="/" class="active item editorial-link">Editorials</a>
    <a href="/reviews" class="item review-link">Reviews</a>
    <a href="/events/upcoming" class="item upcoming-event-link">Upcoming Events</a>
    <a href="/events/archive" class="item event-archive-link">Past Events</a>
</div>
<script src="./scripts/menu-scripts/item-menu.js"></script>