<div class="ui secondary pointing menu">
    <a href="/" class="item">
        Home
    </a>
    <a href="/reviews" class="item">
        Reviews
    </a>
    <a href="/reviews" class="item">
        Upcoming Events
    </a>
    <a href="/reviews" class="item">
        Past Events
    </a>
    <div class="right menu">
        <a href="/" class="ui item">
            Logout
        </a>
    </div>
</div>
