
<div class="ui segment">
        <h1 class="center align">Welcome</h1>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium ea expedita laboriosam aliquid? Ratione
                voluptatum quod ea quas iure, omnis obcaecati voluptatibus amet perspiciatis, iste odit at non sequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium ea expedita laboriosam aliquid? Ratione
                voluptatum quod ea quas iure, omnis obcaecati voluptatibus amet perspiciatis, iste odit at non sequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium ea expedita laboriosam aliquid? Ratione
                voluptatum quod ea quas iure, omnis obcaecati voluptatibus amet perspiciatis, iste odit at non sequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium ea expedita laboriosam aliquid? Ratione
                voluptatum quod ea quas iure, omnis obcaecati voluptatibus amet perspiciatis, iste odit at non sequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium ea expedita laboriosam aliquid? Ratione
                voluptatum quod ea quas iure, omnis obcaecati voluptatibus amet perspiciatis, iste odit at non sequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium ea expedita laboriosam aliquid? Ratione
                voluptatum quod ea quas iure, omnis obcaecati voluptatibus amet perspiciatis, iste odit at non sequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium ea expedita laboriosam aliquid? Ratione
                voluptatum quod ea quas iure, omnis obcaecati voluptatibus amet perspiciatis, iste odit at non sequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium ea expedita laboriosam aliquid? Ratione
                voluptatum quod ea quas iure, omnis obcaecati voluptatibus amet perspiciatis, iste odit at non sequi.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium ea expedita laboriosam aliquid? Ratione
                voluptatum quod ea quas iure, omnis obcaecati voluptatibus amet perspiciatis, iste odit at non sequi.</p>
        </div>
</div>