<h2>NOTE: </h2>

<p>You will need semantic ui/jquery to run everything in this folder</p>
<br>
<p>Until I get this to a point where I have resources stocked for each
primary folder, take note of the dependencies found in scripts.ejs
and in each separate folder!</p>